In [2]:
import pandas as pd
#step1 - create DataFrame
dis={"a":[1,2,3,4,5,6],"b":[1,2,3,4,5,6],"c":[1,2,3,4,5,6]}
d=pd.DataFrame(dis)
print(d)

   a  b  c
0  1  1  1
1  2  2  2
2  3  3  3
3  4  4  4
4  5  5  5
5  6  6  6

In [5]:
#to create CSV FILE
csv_1=pd.read_csv("C:\\Users\\hp\\Desktop\\python\\pandas\\pandas practice\\test_new3.csv")
csv_1

   Unnamed: 0  a  b  c
0           0  1  1  1
1           1  2  2  2
2           2  3  3  3
3           3  4  4  4
4           4  5  5  5
5           5  6  6  6

# basic functions

# 1)nrows

In [7]:
csv_2=pd.read_csv("C:\\Users\\hp\\Desktop\\python\\pandas\\pandas practice\\test_new3.csv",nrows=3)
csv_2

   Unnamed: 0  a  b  c
0           0  1  1  1
1           1  2  2  2
2           2  3  3  3

# 2)usecols

In [9]:
csv_3=pd.read_csv("C:\\Users\\hp\\Desktop\\python\\pandas\\pandas practice\\test_new3.csv",usecols=[1,2])
csv_3

   a  b
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5
5  6  6

# 3)skiprows

In [11]:
csv_4=pd.read_csv("C:\\Users\\hp\\Desktop\\python\\pandas\\pandas practice\\test_new3.csv",skiprows=[1,2])
csv_4

   Unnamed: 0  a  b  c
0           2  3  3  3
1           3  4  4  4
2           4  5  5  5
3           5  6  6  6

# 4)index_cols

ValueError: Index x invalid