# empty series

In [2]:
import pandas as pd
a=pd.Series()
print(a)

Series([], dtype: float64)

C:\Users\hp\AppData\Local\Temp\ipykernel_12448\684786497.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.Series()

# using jupiter notebook series

In [3]:
import pandas as pd
x=[3,4,5,6]
var=pd.Series(x)
print(var)
print(type(var))
#to get values
print(var[2])

0    3
1    4
2    5
3    6
dtype: int64
<class 'pandas.core.series.Series'>
5

# to change index no

In [4]:
import pandas as pd
x=[3,4,5,6]
var=pd.Series(x,index=['a','s','d','f'])
print(var)
print(type(var))
print(var[2])

a    3
s    4
d    5
f    6
dtype: int64
<class 'pandas.core.series.Series'>
5

# to change type of data

In [5]:
import pandas as pd
x=[3,4,5,6]
var=pd.Series(x,index=['a','s','d','f'],dtype="float")
print(var)
print(type(var))
print(var[2])

a    3.0
s    4.0
d    5.0
f    6.0
dtype: float64
<class 'pandas.core.series.Series'>
5.0

# name of data can also be given in pandas

In [6]:
import pandas as pd
x=[3,4,5,6]
var=pd.Series(x,index=['a','s','d','f'],dtype="float",name="Python")
print(var)
print(type(var))
print(var[2])

a    3.0
s    4.0
d    5.0
f    6.0
Name: Python, dtype: float64
<class 'pandas.core.series.Series'>
5.0

# using dictionaries

In [7]:
dic={"name":['Python','C','C++','Java'],
     "por":[12,13,14,15],
     "rank":[1,4,3,2]
    }
var=pd.Series(dic)
print(var)
print(type(var))

name    [Python, C, C++, Java]
por           [12, 13, 14, 15]
rank              [1, 4, 3, 2]
dtype: object
<class 'pandas.core.series.Series'>

# using single data

In [8]:
var=pd.Series(12)
print(var)
print(type(var))

0    12
dtype: int64
<class 'pandas.core.series.Series'>

# to form multiple series

In [9]:
var=pd.Series(12,index=[1,2,3,4])
print(var)
print(type(var))

1    12
2    12
3    12
4    12
dtype: int64
<class 'pandas.core.series.Series'>

# broadcasting

In [10]:
s=pd.Series(12,index=[1,2,3,4,5])
s1=pd.Series(12,index=[1,2,3])
print(s+s1)

1    24.0
2    24.0
3    24.0
4     NaN
5     NaN
dtype: float64

# to convert pandas series into list

In [11]:
x=[3,4,5,6]
var=pd.Series(x)
print(var)
print()
print(var.tolist())
print(type(var.tolist()))

0    3
1    4
2    5
3    6
dtype: int64

[3, 4, 5, 6]
<class 'list'>