In [2]:
import pandas as pd
dataset={
    'cars':["BMW","MERCEDES","AUDI"],
    'bikes':["HARDLEY","HAYABHUSA","DUKATI"]
}
var=pd.Series(dataset)
print(var)
print(type(var))

cars            [BMW, MERCEDES, AUDI]
bikes    [HARDLEY, HAYABHUSA, DUKATI]
dtype: object
<class 'pandas.core.series.Series'>

# creating empty set

In [3]:
import pandas as pd
x=pd.Series()
print(x)

Series([], dtype: float64)

C:\Users\admin\AppData\Local\Temp\ipykernel_6400\3460033404.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  x=pd.Series()

# checking pandas version

In [4]:
import pandas as pd
print(pd.__version__)

1.4.4

# series

# using lists

In [7]:
import pandas as pd
a=[1,2,3]
var=pd.Series(a)
print(var)
print(type(var))

#TO ACCESS VALUE USE INDEX FORMAT
print(var[1])

0    1
1    2
2    3
dtype: int64
<class 'pandas.core.series.Series'>
2

# changing the index value

In [10]:
import pandas as pd
a=[1,2,3]
var=pd.Series(a,index=["A","B","C"])
print(var)
print(type(var))
print(var["B"])

A    1
B    2
C    3
dtype: int64
<class 'pandas.core.series.Series'>
2

# changing the datatype

In [11]:
import pandas as pd
x=[3,4,5,6]
var=pd.Series(x,index=["a","b","c","d"],dtype="float")
print(var)
print(type(var))
print(var[2])

a    3.0
b    4.0
c    5.0
d    6.0
dtype: float64
<class 'pandas.core.series.Series'>
5.0

# writing the name of the data uding name

In [15]:
import pandas as pd
x=[3,4,5,6]
var=pd.Series(x,index=["a","b","c","d"],dtype="float",name="Python")
print(var)
print(type(var))
print(var[1])
print("above and below are same ",var["b"])

a    3.0
b    4.0
c    5.0
d    6.0
Name: Python, dtype: float64
<class 'pandas.core.series.Series'>
4.0
above and below are same  4.0

In [16]:
dic={"name":["Python","c","c++","java"],
    "por":[12,13,14,15],
    "rank":[1,4,3,2]}
var=pd.Series(dic)
print(var)
print(type(var))

name    [Python, c, c++, java]
por           [12, 13, 14, 15]
rank              [1, 4, 3, 2]
dtype: object
<class 'pandas.core.series.Series'>

In [18]:
dic={"name":["Python","c","c++","java"],
    "por":["12","13","14","15"],
    "rank":["1","4","3","2"]}
var=pd.Series(dic)
print(var)
print(type(var))

name    [Python, c, c++, java]
por           [12, 13, 14, 15]
rank              [1, 4, 3, 2]
dtype: object
<class 'pandas.core.series.Series'>

# using single data

In [19]:
var=pd.Series(12)
print(var)
print(type(var))

0    12
dtype: int64
<class 'pandas.core.series.Series'>

In [20]:
#to form multiple series using single indexing pass indexing
var=pd.Series(12,index=[1,2,3,4,5])
print(var)
print(type(var))

1    12
2    12
3    12
4    12
5    12
dtype: int64
<class 'pandas.core.series.Series'>

In [26]:
#in pandas broadcasting not required
var=pd.Series(12,index=[1,2,3,4,5])
var1=pd.Series(12,index=[1,2,3])
print(var*var1)

1    144.0
2    144.0
3    144.0
4      NaN
5      NaN
dtype: float64

# practice questions for pandas

In [27]:
#Convert a Panda module Series to Python list and itâ€™s type
x=[3,4,5,6]
var=pd.Series(x,index=["a","b","c","d"],dtype="float",name="Python")
print(var)
print()
print(var.tolist())
print(type(var.tolist()))

a    3.0
b    4.0
c    5.0
d    6.0
Name: Python, dtype: float64

[3.0, 4.0, 5.0, 6.0]
<class 'list'>

In [32]:
#Create and display a one-dimensional array-like object containing an array of data
x=[1,2,3,4]
var=pd.Series(x,index=["a","b","c","d"])
print(var)
print(type(var))

a    1
b    2
c    3
d    4
dtype: int64
<class 'pandas.core.series.Series'>

In [34]:
#Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
var=pd.Series(12,index=[1,2,3,4,5])
var1=pd.Series(12,index=[1,2,3,4,5])
print(var+var1)
print(var-var1)
print(var*var1)
print(var/var1)
print(var%var1)
print(var**var1)
print(var//var1)

1    24
2    24
3    24
4    24
5    24
dtype: int64
1    0
2    0
3    0
4    0
5    0
dtype: int64
1    144
2    144
3    144
4    144
5    144
dtype: int64
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
dtype: float64
1    0
2    0
3    0
4    0
5    0
dtype: int64
1    8916100448256
2    8916100448256
3    8916100448256
4    8916100448256
5    8916100448256
dtype: int64
1    1
2    1
3    1
4    1
5    1
dtype: int64

In [37]:
#Compare the elements of the two Pandas Series
var=pd.Series([1,2,3,4,5])
var1=pd.Series([6,7,8,9,10])
print(var)
print(var1)
print("equal :")
print(var==var1)
print("less than :")
print(var<var1)
print("greater than :")
print(var>var1)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     6
1     7
2     8
3     9
4    10
dtype: int64
equal :
0    False
1    False
2    False
3    False
4    False
dtype: bool
less than :
0    True
1    True
2    True
3    True
4    True
dtype: bool
greater than :
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [41]:
#Write a Pandas program to convert a dictionary to a Pandas series.
dic={"a":[1,2,3,4,5],
     "b":[6,7,8,9,10],
     "c":[11,12,13,14,15]}
print(dic)
print(type(dic))
print()
var=pd.Series(dic,dtype="float")
print(var)
print(type(var))

{'a': [1, 2, 3, 4, 5], 'b': [6, 7, 8, 9, 10], 'c': [11, 12, 13, 14, 15]}
<class 'dict'>

a         (1, 2, 3, 4, 5)
b        (6, 7, 8, 9, 10)
c    (11, 12, 13, 14, 15)
dtype: object
<class 'pandas.core.series.Series'>

In [42]:
#Write a Pandas program to convert a NumPy array to a Pandas series.
import pandas as pd
import numpy as np
np_array=np.array([1,2,3,4,5])
print(np_array)
print(type(np_array))
pd_array=pd.Series(np_array)
print(pd_array)
print(type(pd_array))

[1 2 3 4 5]
<class 'numpy.ndarray'>
0    1
1    2
2    3
3    4
4    5
dtype: int32
<class 'pandas.core.series.Series'>

In [44]:
#Write a Pandas program to change the data type of given a column or a Series.
import pandas as pd
x=[1,2,3,4,5]
pd_array=pd.Series(x)
print(pd_array)
print(type(pd_array))
var=pd.Series(pd_array,dtype="float")
print(var)
print(type(var))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>
0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64
<class 'pandas.core.series.Series'>